.main{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    resize: vertical;
    width:600px;
    border:1px solid #555
}
h1{
    font-weight: bold;
    line-height: 1.25;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 35px;
}
.main2{
    margin-left: auto;
    margin-right: auto;
    background-color: #E2E4E3;
    text-align: center;
}
.main3{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
h2{
    font-weight: 200;
    font-size: 20px;
}
.sub{
    font-size: 16px;
    
    
}
h3{
    font-weight: 100;
    font-size: 15px;
    text-align: left;


}
button{
    float: right;
    background: #2ec4b6;
    color: #fdfffc;
    font-weight: 800;
    font-size: 16px;
    border: 0px; 
    margin: 5px;
    width: 170px;
    height: 40px;
    cursor: pointer;

}